{% extends 'base.html' %}

{% block content %}
<a href="{% url 'list-categories' %}">
    <div class="bg-orange-700 pt-1 pb-1 mr-80 ml-80 mt-5 rounded-lg hover:bg-orange-600">
        <p class="text-white text-center text-l font-semibold">Kategoriyalar</p>
    </div>
</a>
<div class=" ml-5 grid grid-cols-5 gap-4 mr-5">

    {% for stationary in stationaries %}
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg mt-5 shadow">
            <img class="object-cover max-w-full p-8 border-radius: 9999px" src="{{ stationary.image.url }}">
            <a href="{% url 'sell-stationaries' stationary.pk %}">
                <div class="px-5 pb-5">
                    <h5 class="text-lg pb-3 font-medium tracking-tight text-gray-500">{{ stationary.name }}</h5>
                    <div class="flex items-center bg-gray-200 rounded-xl justify-center">
                      <span class="text-xl font-semibold text-slate-500">{{ stationary.price }} so'm</span>
                    </div>
                </div>
            </a>
        </div>

    {% endfor %}

</div>
{% endblock content %}
